.accordion-header {
  display: flex;
  justify-content: space-between;
}

.accordion-header h5 {
  margin-bottom: 12px;
}

.accordion-header div {
  padding-top: 26px;
}

.accordion .collapsed {
  display: none;
}
