.accordion-header {
  display: flex;
  justify-content: space-between;
}

.accordion-header h5 {
  margin-bottom: 12px;
}

.accordion-header div {
  padding-top: 26px;
}

.accordion .collapsed {
  display: none;
}

.accordion .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 5px;
}

.accordion .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.accordion .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
