body {
  background-color: #1F2833;
  color: rgb(230, 230, 230);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}

h2 {
  font-size: 28px;
  font-weight: 100;
}

a {
  color: #66FCF1;
}

/* 

  Most commonly used screen resolutions:
    1920×1080 (8.89%)
    1366×768 (8.44%)
    360×640 (7.28%)
    414×896 (4.58%)
    1536×864 (3.88%)
    375×667 (3.75%)

*/