ul.projects li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.projects li h5 {
  margin: 0 0 0.7em;
}

ul.projects li p {
  line-height: 1.5em;
  margin: 1.1em 0 0;
}
