/* Hyperlink */
/* --------- */

/* TODO: Remove these values once the anchor element design is finilised */
.link {
  color: var(--prussian-blue);
  text-decoration: underline;
}

.link.visited {
  color: var(--quinacridone-magenta);
}

.link.hover {
  background-color: var(--school-bus-yellow);
  cursor: pointer;
}

.link.active {
  color: var(--white-smoke);
  background-color: var(--prussian-blue);
}
/* ^ these styles are just for the lab/component-library page */

a {
  color: var(--prussian-blue);
  text-decoration: underline;
}

a:visited {
  color: var(--quinacridone-magenta);
}

a:hover {
  background-color: var(--school-bus-yellow);
  cursor: pointer;
}

a:active {
  color: var(--white-smoke);
  background-color: var(--prussian-blue);
}

/* Buttons */
/* ------- */

.button {
  border: var(--prussian-blue-dark) solid 2px;
  background-color: var(--white-smoke);

  border-radius: 0.4em;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5em 1.1em 0.6em;
  cursor: pointer;
}

.button:hover {
  background-color: var(--school-bus-yellow);
}

a.button {
  text-decoration: none;
  color: var(--prussian-blue-dark);
}
