ul.grid {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1.3em;
}

ul.grid li {
  padding: 2em 1.5em;
  border: 1px solid var(--prussian-blue);
  border-radius: 0.5em;
}

@media only screen and (max-width: 768px) {
  ul.grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  ul.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  ul.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
