:root {
  font-size: 1em;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #f5f5f5;
  color: #18273a;
}

main,
header,
footer {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width: 768px) {
  main,
  header,
  footer {
    max-width: 520px;
  }
}

@media only screen and (min-width: 768px) {
  main,
  header,
  footer {
    max-width: 680px;
  }
}

@media only screen and (min-width: 992px) {
  main,
  header,
  footer {
    max-width: 820px;
  }
}
