@media screen and (max-width: 640px) {
 /* .form {
  background-color: 'purple';
  padding: 8px;
  max-width: 620px;
 } */
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  /* .form {
    background-color: 'purple';
    padding: 8px;
    max-width: 620px;
  } */
}

@media screen and (min-width: 1008px) {

}