.accordion-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1em;
}

.accordion-header h5 {
  margin: 0.6em 0 0;
}

.accordion-body h5 {
  margin-bottom: 1em;
}

.accordion .collapsed {
  display: none;
}

.accordion .arrow {
  border: solid #18273a;
  border-width: 0 3px 3px 0;
  border-radius: 0.15em;
  display: inline-block;
  padding: 0.3em;
}

.accordion .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.accordion .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
